@charset "utf-8";
/* CSS Document */

/* QUESTIONS FOR ELIZABETH
1: How to get h1 flush bottom
2: How to make the grn-rule divs live in the same space as #meet-brandi p:last-child
*/

* {
	-webkit-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}

.wrapper {
	width: 1170px;
}

.wrapper, .grn-h2, #meet-brandi, #works div div:last-child{
	margin: 0 auto;
}

.row {
	overflow: auto;
}

#bg-drk-grn {
	background-color: #10443f;
}

header > div:last-child {
	background-color: #104f41;
}

#features {
	background-color: #f4f7f9;
}

#team {
	background-color: #1ea78d;
}

nav {
	float: right;
	width: 350px;
	text-align: right;
}

li {
	display: inline-block;
}

header, #team, #meet-brandi {
	color: white;
}

a {
	text-decoration: none;
	color: white;
	font-weight: 600;
}

#h1-div {
	float: left;
	width: 250px;
}

h1 {
	font-size: 12px;
	font-weight: 300;
	color: #587c79;
}

#h1-div span:first-child {
	font-size: 20px;
	color: white;
}

#h1-div span:first-child, #content-team h2 {
	font-family: 'Pacifico', cursive;
	font-weight: 400;
}

#h1-div span:last-child {
	margin: 0 20px;
	color: #19606d;
}

li {
	margin-left: 20px;
	font-size: 12px;
}

ul {
	padding: 0;
}

#meet-brandi {
	padding: 300px 0 180px;
	text-align: center;
	font-weight: 300;
}

#meet-brandi p:first-child {
	font-size: 55px;
	margin: 0 0 30px;
}

#meet-brandi p:last-child {
	font-size: 10px;
	display: inline-block;
	width: 315px;
}

#meet-brandi span:first-child {
	font-weight: 600;
}

#meet-brandi span:last-child {
	color: #0fdf97;
}

.grn-rule {
	display: inline-block;
	width: 15px;
	height: 2px;
	background-color: #0fdf97;
}





