@charset "utf-8";
/* CSS Document */

* {
	-webkit-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.wrapper {
	width: 1170px;
}

.wrapper, .grn-h2, #meet-brandi, #works div div:last-child{
	margin: 0 auto;
}

.row {
	overflow: auto;
}

#bg-drk-grn {
	background-color: #10443f;
}

header > div:last-child {
	background-color: #104f41;
}

#features {
	background-color: #f4f7f9;
}

#team {
	background-color: #1ea78d;
}